html
 head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/fonts-v3.css')
  link(rel='stylesheet', href='/stylesheets/base-v4.css')
  link(rel='stylesheet', href='/stylesheets/properties-2ccb5153-0dea-3ed1-d660-9ddc66ac02f8.css')
 body
  #_53
   #_54.nm-label
    h1#_55
     | AutoService
     br
   i#_56
    | 
   nav#_57.navbar.navbar-default(role='navigation')
    .container-fluid
     ul.nav.navbar-nav
      li
       a#_58.navbar-brand(href='#') Brand
      li
       a#_59(href='#') Home
      li
       a#_60(href='#') Services
      li.active
       a#_61(href='#') Zayavki
    label#_62.nm-label
      | "#{user}"
    button#_62_1.btn.btn-default
      | Log out
   button#_64.btn.btn-default
    | Podat zayavky
  table#_777
     thead
       th Номер заявки
       th Назва послуги
       th Машина
       th Статус
       th Пояснення
       br
     tbody
   table#_65
    thead
      th
      th
      th
      th
      th
      br
    tbody
     script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
     script(src='/javascripts/forbidsU.js')
