html
 head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/fonts-v3.css')
  link(rel='stylesheet', href='/stylesheets/base-v4.css')
  link(rel='stylesheet', href='/stylesheets/properties-2ccb5153-0dea-3ed1-d660-9ddc66ac02f8.css')
 body
  #_15
   #_16.nm-label
    h1#_17
     | AutoService
     br
   i#_18
    | 
   nav#_19.navbar.navbar-default(role='navigation')
    .container-fluid
     ul.nav.navbar-nav
      li
       a#_20.navbar-brand(href='#') Brand
      li
       a#_21(href='#') Home
      li.active
       a#_22(href='#') Services
       li
         a#_22_1(href='#') Zayavki
       label#_23_1.nm-label
        | #{user}
       button#_24_1.btn.btn-default
         | Log out
   table#_25
    tr
     td#_26
      #_27.nm-label
       span#_28
        | Column 1
        br
     td#_29
      #_30.nm-label
       span#_31
        | Column 2
        br
     td#_32
      #_33.nm-label
       span#_34
        | Column 3
        br
    tr
     td#_35
      i#_36
       | 
     td#_37
      #_38.nm-label
       span#_39
        br
     td#_40
    tr
     td#_41
      i#_42
       | 
     td#_43
     td#_44
    tr
     td#_45
      i#_46
       | 
     td#_47
     td#_48
    tr
     td#_49
      i#_50
       | 
     td#_51
     td#_52
     script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
     script(src='/javascripts/forservices.js')
